version: "3.7"
services:
    app:
        build:
            context: ./
            dockerfile: Dockerfile
        image: emporium
        environment:
            - COMPOSER_ALLOW_SUPERUSER=1
        container_name: emporium-app
        restart: always
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        networks:
            - emporium

    nginx:
        image: nginx:1.17-alpine
        container_name: emporium-nginx
        restart: unless-stopped
        ports:
            - 8000:80
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d
        networks:
            - emporium

    redis:
        image: "redis:alpine"
        container_name: emporium-redis
        restart: always
        networks:
            - emporium
        command: ["redis-server", "--requirepass", "97283901"]
        ports:
            - "6379:6379"

networks:
    emporium:
        driver: bridge

volumes:
    mysql_data:
