.table-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente os botões */
    margin-left: 150px; /* Define a margem esquerda */
}

.card-content-btn {
    float: left;
    background-color: #0577BD;
    color: white;
    border: none;
    margin-right:10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.title-menus {
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;
}


.button-container {
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente os botões */
    height: 80vh; /* Define a altura da container para a altura da tela */
}

.button {
    width: 360px;
    height: 271px;
    background-color: #37ADF6;
    color: white;
    border: none;
    font-size: 24px;
    margin: 10px 50px;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    display: flex; /* Permite alinhar verticalmente o texto e o ícone */
    flex-direction: column; /* Alinha o texto e o ícone verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.button img {
    width: 100px; /* Define o tamanho do ícone */
    height: 100px;
    margin-bottom: 10px; /* Adiciona espaço entre o ícone e o texto */
}

.button label {
    margin-bottom: 50px; /* Define o tamanho do ícone */

}

.button-filter-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente os botões */
    height: 20vh; /* Define a altura da container para a altura da tela */
    margin-left: 150px; /* Define a margem esquerda */

}

.button-filter {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    width: 148px;
    height: 45px;
    background-color: #0577BD;
}

.button-filter + .button-filter {
    margin-left: 200px;
}

.image-product-edit {
    margin: 5% 0;
    width: 40%;
}

.container-order-header {
    display: flex;
    /*justify-content: space-between;*/
}

.container-order-header p {
    /*width: 45%;*/
}
