name: Deploy by issue
permissions: write-all
on:
  issues:
    types: [opened]
    
jobs:
  deploy:
    if: contains(github.event.issue.labels.*.name, 'environment-deploy')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Parse Issue
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/deploy-environments.yml

      - name: Branch Validation
        run: |
          validatedIssueBranches=""
          branches="${{ steps.issue-parser.outputs.issueparser_branches }}"
          IFS=',' read -ra branch_array <<< "$branches"

          for branch in "${branch_array[@]}"; do
            set +e
            git ls-remote --exit-code --heads origin $branch &> /dev/null
            branch_exists=$?
            
            if [[ "$branch_exists" == "0" ]]; then
              git checkout $branch &> /dev/null
              git log --pretty=format:"%h" master | grep $(git log --pretty=format:"%h" -1 $branch) &> /dev/null
              branch_merged=$?
            fi
            
            if [[ "$branch_exists" != "0" || "$branch_merged" != "0" ]]; then
              echo "error=Branch does not exist or has been merged: '$branch'" >> $GITHUB_ENV
              set -e
              exit 1
            fi

            validatedIssueBranches+="$branch,"          
            echo "validatedIssueBranches= ${validatedIssueBranches%,}" >> $GITHUB_ENV

            echo "Branches validadas: $validatedIssueBranches"
          done
    
      - name: Close issue
        if: failure() && !cancelled()
        run: gh issue close ${{ github.event.issue.number }} -c "❗ ${{ env.error }}"
  
      - name: Validation success
        run: gh issue comment ${{ github.event.issue.number }} -b "⭐ Branch validation success"
  
      - name: Handle Develop Branches
        run: |
          echo "Checkout develop..."
          git checkout develop &> /dev/null
          
          IFS=, read -ra branches < ./.github/workflows/support/develop-branches.txt
          validatedBranches=""
          
          for branch in "${branches[@]}"; do
            branch=$(echo "$branch" | sed 's/^[ \t]*//;s/[ \t]*$//')
          
            set +e
            git ls-remote --exit-code --heads origin "$branch" &> /dev/null
            branch_exists=$?
          
            if [[ "$branch_exists" == "0" ]]; then
              git checkout "$branch" &> /dev/null
              git log --pretty=format:"%h" master | grep "$(git log --pretty=format:"%h" -1 "$branch")" &> /dev/null
              branch_merged=$?
          
              if [[ "$branch_merged" == "0" ]]; then
                # Se a branch existe e foi mesclada, faça o rebase com a master
                git rebase master
              fi
          
              # Adiciona a branch ao final da string validatedBranches
              validatedBranches+="$branch,"
            fi
           done
          
          validatedBranches="${validatedBranches%,}"
          echo "validatedBranches= ${validatedBranches%,}" >> $GITHUB_ENV
          
          echo "Branches validadas: $validatedBranches"

      - name : Create new develop branch
        env:
          GIT_COMMITTER_NAME: GitHub Actions
          GIT_COMMITTER_EMAIL: actions@github.com
        run: |

          echo "Setting up Git user identity..."
          git config --local user.name "$GIT_COMMITTER_NAME"
          git config --local user.email "$GIT_COMMITTER_EMAIL"
          
          echo "Checkout develop..."
          git checkout master &> /dev/null
          
          echo "Deleting develop..."
          git branch -D develop &> /dev/null 

          echo "Recreating develop..."
          git checkout -b develop 

          Allbranches="${{ env.validatedIssueBranches }},${{ env.validatedBranches }}"
       
          IFS=, read -ra BranchArray <<< "$Allbranches"
          
          error_file="error.log"
          touch "$error_file"
               
          # Imprimir os elementos do array
          for branch in "${BranchArray[@]}"; do
          
            echo "Chekout to $branch."
            git checkout $branch  &> /dev/null
            
            echo "Rebasing $branch with main..."
            git rebase master  &> /dev/null

            echo "Merge $branch into develop..."
            git checkout develop &> /dev/null
            git merge $branch --no-edit &> /dev/null
            
          done
          
          echo "Sending updated develop to github"
          git push --force origin develop
          done
          
          # echo "Sending updated develop to github"
          # if ! git push --force origin develop &> /dev/null; then
          #   echo "Error: Failed to push updated develop to GitHub." &>> "$error_file"
          #   exit 1
          # fi

          # if [ -s "$error_file" ]; then
          #   comment_body=$(cat "$error_file")
          #   gh issue comment ${{ github.event.issue.number }} -b "⚠️ Error during the process:\n\n$comment_body"
          #   exit 1
          # fi
      
