name: Deploy by issue
on:
  issues:
    types: [ opened, edited, milestoned ]

jobs:
  exemplo-job:
    if: contains(github.event.issue.labels.*.name, 'deploy-develop')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v3

      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/new-deploy.yml

      - name: Verify-issue
        run: |
          echo "NEW_BRANCH=${{ steps.issue-parser.outputs.issueparser_branch-name }}" >> $GITHUB_ENV
          echo "ENVIRONMENT=${{ steps.issue-parser.outputs.issueparser_environment }}" >> $GITHUB_ENV

      - name: Baixar CSV do Google Drive
        run: |
          branches="https://drive.google.com/uc?id=1_fAzmL25HzYpMSJ2__x59Xx-O6K6sKz8"
          wget "$branches" -O branches.csv

      - name: Processar CSV e Armazenar em Array
        run: ./.github/workflows/scripts/deploys/develop-deploy.sh ${{ env.NEW_BRANCH }} ${{ env.ENVIRONMENT }}



