name: Pull requests
on:
  pull_request:
    branches: [ "master" ]

jobs:
  unit-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2.0'

      - uses: actions/checkout@v3

      - name: Make a copy of the .env file
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install Dependencies
        run: |
          composer update
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Execute tests via PHPUnit
        run: vendor/bin/phpunit

      - name: Run PHP CodeSniffer
        run: vendor/bin/phpcs --standard=PSR2 ./

